#about-img {
	height: 450px;
	border-radius: 4px;
	border-top: 20px solid #e5e5e5;
	box-shadow: 12px 12px 1px #afafb1;
	overflow-y:hidden;
	margin: 40px;
	margin-top: 20px;
}

#img-console {
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-section {
	background-color: #F0F0F0;
	padding: 50px;
	min-height:100vh;
}

#console {
	margin: 40px;
	margin-top: 20px;
	padding: 50px;
	line-height: 22px;
	height: 690px;
	width: 70%;
	font-size: 90%;
    overflow: auto;
	font-family: Monaco,monospace;
	border-top: 20px solid #e5e5e5;
	border-radius: 4px;
	background-color: #2a2d34;
	box-shadow: 12px 12px 1px #dadada;
}

#console a {
	text-decoration: underline;
}

ul { 
	margin: 0; 
	padding-left: 24px; 
}

.first-color {
	color: #ac78c2;
}
.second-color {
	color: #c5c7c8;
}

.third-color {
	color: #5888ca;
}

.fourth-color {
	color: #f0c674;
}

.fifth-color {
	color: #b5bd68;
}

